# Téléchargement des libs

In [62]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# Import des libraries

In [63]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, lower, regexp_replace, regexp_extract, trim, split, expr, length
from pyspark.sql.types import IntegerType

# Lecture des fichiers CSV

In [77]:
# Créer une session Spark
spark = SparkSession.builder.appName("OlympicDataProcessing").getOrCreate()

# Charger les fichiers CSV
athletes = spark.read.csv('files/olympic_athletes.csv', header=True, inferSchema=True)
results = spark.read.csv('files/olympic_results.csv', header=True, inferSchema=True)
medals = spark.read.csv('files/olympic_medals.csv', header=True, inferSchema=True)
hosts = spark.read.csv('files/olympic_hosts.csv', header=True, inferSchema=True)

# Affichage des 5 premières données de chaque CSV

In [65]:
# Affichez les premières lignes des DataFrames pour une inspection rapide
athletes.show(10)
results.show(5)
medals.show(5)
hosts.show(5)

+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
|         athlete_url|   athlete_full_name|games_participations|      first_game|athlete_year_birth|athlete_medals| bio|
+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
|https://olympics....|Cooper WOODS-TOPA...|                   1|    Beijing 2022|            2000.0|          NULL|NULL|
|https://olympics....|      Felix ELOFSSON|                   2|PyeongChang 2018|            1995.0|          NULL|NULL|
|https://olympics....|       Dylan WALCZYK|                   1|    Beijing 2022|            1993.0|          NULL|NULL|
|https://olympics....|       Olli PENTTALA|                   1|    Beijing 2022|            1995.0|          NULL|NULL|
|https://olympics....|    Dmitriy REIKHERD|                   1|    Beijing 2022|            1989.0|          NULL|NULL|
|https://olympics....|         Matt GRAHAM|                   3|      Sochi 2014|            1994.0|             "|NULL|
|                   1|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|                   S|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|                   ,|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|https://olympics....|     Ikuma HORISHIMA|                   2|PyeongChang 2018|            1997.0|             "|NULL|
+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
only showing top 10 rows

+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+-------------+------------+---------------------+-----------+-----------------+----------+----------+
|discipline_title|  event_title|   slug_game|participant_type|medal_type|            athletes|rank_equal|rank_position| country_name|country_code|country_3_letter_code|athlete_url|athlete_full_name|value_unit|value_type|
+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+-------------+------------+---------------------+-----------+-----------------+----------+----------+
|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      GOLD|[('Stefania CONST...|     False|            1|        Italy|          IT|                  ITA|        NaN|              NaN|       NaN|       NaN|
|         Curling|Mixed Doubles|beijing-2022|        GameTeam|    SILVER|[('Kristin SKASLI...|     False|            2|       Norway|          NO|                  NOR|        NaN|              NaN|       NaN|       NaN|
|         Curling|Mixed Doubles|beijing-2022|        GameTeam|    BRONZE|[('Almida DE VAL'...|     False|            3|       Sweden|          SE|                  SWE|        NaN|              NaN|       NaN|       NaN|
|         Curling|Mixed Doubles|beijing-2022|        GameTeam|       NaN|[('Jennifer DODDS...|     False|            4|Great Britain|          GB|                  GBR|        NaN|              NaN|       NaN|       NaN|
|         Curling|Mixed Doubles|beijing-2022|        GameTeam|       NaN|[('Rachel HOMAN',...|     False|            5|       Canada|          CA|                  CAN|        NaN|              NaN|       NaN|       NaN|
+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+-------------+------------+---------------------+-----------+-----------------+----------+----------+
only showing top 5 rows

+----------+----------------+------------+-------------+------------+----------+----------------+-----------------+--------------------+--------------------+------------+------------+---------------------+
|Unnamed: 0|discipline_title|   slug_game|  event_title|event_gender|medal_type|participant_type|participant_title|         athlete_url|   athlete_full_name|country_name|country_code|country_3_letter_code|
+----------+----------------+------------+-------------+------------+----------+----------------+-----------------+--------------------+--------------------+------------+------------+---------------------+
|         0|         Curling|beijing-2022|Mixed Doubles|       Mixed|      GOLD|        GameTeam|            Italy|https://olympics....|Stefania CONSTANTINI|       Italy|          IT|                  ITA|
|         1|         Curling|beijing-2022|Mixed Doubles|       Mixed|      GOLD|        GameTeam|            Italy|https://olympics....|        Amos MOSANER|       Italy|          IT|                  ITA|
|         2|         Curling|beijing-2022|Mixed Doubles|       Mixed|    SILVER|        GameTeam|           Norway|https://olympics....|    Kristin SKASLIEN|      Norway|          NO|                  NOR|
|         3|         Curling|beijing-2022|Mixed Doubles|       Mixed|    SILVER|        GameTeam|           Norway|https://olympics....|  Magnus NEDREGOTTEN|      Norway|          NO|                  NOR|
|         4|         Curling|beijing-2022|Mixed Doubles|       Mixed|    BRONZE|        GameTeam|           Sweden|https://olympics....|       Almida DE VAL|      Sweden|          SE|                  SWE|
+----------+----------------+------------+-------------+------------+----------+----------------+-----------------+--------------------+--------------------+------------+------------+---------------------+
only showing top 5 rows

+-----+----------------+-------------------+-------------------+------------------+----------------+-----------+---------+
|index|       game_slug|      game_end_date|    game_start_date|     game_location|       game_name|game_season|game_year|
+-----+----------------+-------------------+-------------------+------------------+----------------+-----------+---------+
|    0|    beijing-2022|2022-02-20 12:00:00|2022-02-04 15:00:00|             China|    Beijing 2022|     Winter|     2022|
|    1|      tokyo-2020|2021-08-08 14:00:00|2021-07-23 11:00:00|             Japan|      Tokyo 2020|     Summer|     2020|
|    2|pyeongchang-2018|2018-02-25 08:00:00|2018-02-08 23:00:00| Republic of Korea|PyeongChang 2018|     Winter|     2018|
|    3|        rio-2016|2016-08-21 21:00:00|2016-08-05 12:00:00|            Brazil|        Rio 2016|     Summer|     2016|
|    4|      sochi-2014|2014-02-23 16:00:00|2014-02-07 04:00:00|Russian Federation|      Sochi 2014|     Winter|     2014|
+-----+----------------+-------------------+-------------------+------------------+----------------+-----------+---------+
only showing top 5 rows

# Afficher le nombre de lignes par CSV

In [66]:
# Affichez le nombre de lignes des DataFrames
print("Nombre de ligne athletes:", athletes.count())
print("Nombre de ligne hosts:", hosts.count())
print("Nombre de ligne medals:", medals.count())
print("Nombre de ligne results:", results.count())

Nombre de ligne athletes: 189960
Nombre de ligne hosts: 53
Nombre de ligne medals: 21697
Nombre de ligne results: 162804

# Afficher les types de données

In [67]:
# Afficher les schémas des DataFrames
print("Schéma de athletes:")
athletes.printSchema()

print("Schéma de results:")
results.printSchema()

print("Schéma de medals:")
medals.printSchema()

print("Schéma de hosts:")
hosts.printSchema()

Schéma de athletes:
root
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- games_participations: string (nullable = true)
 |-- first_game: string (nullable = true)
 |-- athlete_year_birth: string (nullable = true)
 |-- athlete_medals: string (nullable = true)
 |-- bio: string (nullable = true)

Schéma de results:
root
 |-- discipline_title: string (nullable = true)
 |-- event_title: string (nullable = true)
 |-- slug_game: string (nullable = true)
 |-- participant_type: string (nullable = true)
 |-- medal_type: string (nullable = true)
 |-- athletes: string (nullable = true)
 |-- rank_equal: string (nullable = true)
 |-- rank_position: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country_3_letter_code: string (nullable = true)
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- value_unit: string (nullable = true)
 |-- value_type: string (nullable = true)

Schéma de medals:
root
 |-- Unnamed: 0: integer (nullable = true)
 |-- discipline_title: string (nullable = true)
 |-- slug_game: string (nullable = true)
 |-- event_title: string (nullable = true)
 |-- event_gender: string (nullable = true)
 |-- medal_type: string (nullable = true)
 |-- participant_type: string (nullable = true)
 |-- participant_title: string (nullable = true)
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country_3_letter_code: string (nullable = true)

Schéma de hosts:
root
 |-- index: integer (nullable = true)
 |-- game_slug: string (nullable = true)
 |-- game_end_date: timestamp (nullable = true)
 |-- game_start_date: timestamp (nullable = true)
 |-- game_location: string (nullable = true)
 |-- game_name: string (nullable = true)
 |-- game_season: string (nullable = true)
 |-- game_year: integer (nullable = true)

# Afficher les données manquantes

In [68]:
# Vérifiez les valeurs manquantes
athletes.select([count(when(col(c).isNull(), c)).alias(c) for c in athletes.columns]).show()
results.select([count(when(col(c).isNull(), c)).alias(c) for c in results.columns]).show()
medals.select([count(when(col(c).isNull(), c)).alias(c) for c in medals.columns]).show()
hosts.select([count(when(col(c).isNull(), c)).alias(c) for c in hosts.columns]).show()

+-----------+-----------------+--------------------+----------+------------------+--------------+------+
|athlete_url|athlete_full_name|games_participations|first_game|athlete_year_birth|athlete_medals|   bio|
+-----------+-----------------+--------------------+----------+------------------+--------------+------+
|          0|            94041|               96547|     99234|            104133|        164540|166953|
+-----------+-----------------+--------------------+----------+------------------+--------------+------+

+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+
|discipline_title|event_title|slug_game|participant_type|medal_type|athletes|rank_equal|rank_position|country_name|country_code|country_3_letter_code|athlete_url|athlete_full_name|value_unit|value_type|
+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+
|               0|          0|        0|               0|         0|       0|         0|            0|           0|           0|                    0|          0|                0|         0|         0|
+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+

+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+
|Unnamed: 0|discipline_title|slug_game|event_title|event_gender|medal_type|participant_type|participant_title|athlete_url|athlete_full_name|country_name|country_code|country_3_letter_code|
+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+
|         0|               0|        0|          0|           0|         0|               0|            15113|       4670|             3624|           0|        1502|                    0|
+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+

+-----+---------+-------------+---------------+-------------+---------+-----------+---------+
|index|game_slug|game_end_date|game_start_date|game_location|game_name|game_season|game_year|
+-----+---------+-------------+---------------+-------------+---------+-----------+---------+
|    0|        0|            0|              0|            0|        0|          0|        0|
+-----+---------+-------------+---------------+-------------+---------+-----------+---------+

# Afficher les données dupliquées

In [69]:
# Afficher le nombre de lignes dupliquées dans chaque DataFrame
print("Nombre de lignes dupliquées dans athletes:", athletes.count() - athletes.dropDuplicates().count())
print("Nombre de lignes dupliquées dans results:", results.count() - results.dropDuplicates().count())
print("Nombre de lignes dupliquées dans medals:", medals.count() - medals.dropDuplicates().count())
print("Nombre de lignes dupliquées dans hosts:", hosts.count() - hosts.dropDuplicates().count())

Nombre de lignes dupliquées dans athletes: 78182
Nombre de lignes dupliquées dans results: 116
Nombre de lignes dupliquées dans medals: 0
Nombre de lignes dupliquées dans hosts: 0

# Afficher le nombre de données manquantes pour chaque colonne

In [70]:
# Afficher le nombre de valeurs manquantes dans chaque colonne pour chaque DataFrame
print("Nombre de valeurs manquantes dans athletes:")
athletes.select([count(when(col(c).isNull(), c)).alias(c) for c in athletes.columns]).show()

print("Nombre de valeurs manquantes dans results:")
results.select([count(when(col(c).isNull(), c)).alias(c) for c in results.columns]).show()

print("Nombre de valeurs manquantes dans medals:")
medals.select([count(when(col(c).isNull(), c)).alias(c) for c in medals.columns]).show()

print("Nombre de valeurs manquantes dans hosts:")
hosts.select([count(when(col(c).isNull(), c)).alias(c) for c in hosts.columns]).show()

Nombre de valeurs manquantes dans athletes:
+-----------+-----------------+--------------------+----------+------------------+--------------+------+
|athlete_url|athlete_full_name|games_participations|first_game|athlete_year_birth|athlete_medals|   bio|
+-----------+-----------------+--------------------+----------+------------------+--------------+------+
|          0|            94041|               96547|     99234|            104133|        164540|166953|
+-----------+-----------------+--------------------+----------+------------------+--------------+------+

Nombre de valeurs manquantes dans results:
+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+
|discipline_title|event_title|slug_game|participant_type|medal_type|athletes|rank_equal|rank_position|country_name|country_code|country_3_letter_code|athlete_url|athlete_full_name|value_unit|value_type|
+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+
|               0|          0|        0|               0|         0|       0|         0|            0|           0|           0|                    0|          0|                0|         0|         0|
+----------------+-----------+---------+----------------+----------+--------+----------+-------------+------------+------------+---------------------+-----------+-----------------+----------+----------+

Nombre de valeurs manquantes dans medals:
+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+
|Unnamed: 0|discipline_title|slug_game|event_title|event_gender|medal_type|participant_type|participant_title|athlete_url|athlete_full_name|country_name|country_code|country_3_letter_code|
+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+
|         0|               0|        0|          0|           0|         0|               0|            15113|       4670|             3624|           0|        1502|                    0|
+----------+----------------+---------+-----------+------------+----------+----------------+-----------------+-----------+-----------------+------------+------------+---------------------+

Nombre de valeurs manquantes dans hosts:
+-----+---------+-------------+---------------+-------------+---------+-----------+---------+
|index|game_slug|game_end_date|game_start_date|game_location|game_name|game_season|game_year|
+-----+---------+-------------+---------------+-------------+---------+-----------+---------+
|    0|        0|            0|              0|            0|        0|          0|        0|
+-----+---------+-------------+---------------+-------------+---------+-----------+---------+

# Suppression des colonnes

In [78]:
# Supprimer des colonnes dans chaque DataFrame CSV

# Pour athletes.csv
# athletes = athletes.drop("")

# Pour results.csv
df_results = results.drop('Unnamed: 0','athlete_url')

# Pour medals.csv
df_medals = medals.drop('Unnamed: 0','participant_title','athlete_url')

# Pour hosts.csv
df_hosts = hosts.drop("index")

In [79]:
# Afficher les schémas des DataFrames
print("Schéma de athltes:")
athletes.printSchema()

print("Schéma de results:")
df_results.printSchema()

print("Schéma de medals:")
df_medals.printSchema()

print("Schéma de hosts:")
df_hosts.printSchema()

Schéma de athltes:
root
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- games_participations: string (nullable = true)
 |-- first_game: string (nullable = true)
 |-- athlete_year_birth: string (nullable = true)
 |-- athlete_medals: string (nullable = true)
 |-- bio: string (nullable = true)

Schéma de results:
root
 |-- discipline_title: string (nullable = true)
 |-- event_title: string (nullable = true)
 |-- slug_game: string (nullable = true)
 |-- participant_type: string (nullable = true)
 |-- medal_type: string (nullable = true)
 |-- athletes: string (nullable = true)
 |-- rank_equal: string (nullable = true)
 |-- rank_position: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country_3_letter_code: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- value_unit: string (nullable = true)
 |-- value_type: string (nullable = true)

Schéma de medals:
root
 |-- discipline_title: string (nullable = true)
 |-- slug_game: string (nullable = true)
 |-- event_title: string (nullable = true)
 |-- event_gender: string (nullable = true)
 |-- medal_type: string (nullable = true)
 |-- participant_type: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- country_name: string (nullable = true)
 |-- country_code: string (nullable = true)
 |-- country_3_letter_code: string (nullable = true)

Schéma de hosts:
root
 |-- game_slug: string (nullable = true)
 |-- game_end_date: timestamp (nullable = true)
 |-- game_start_date: timestamp (nullable = true)
 |-- game_location: string (nullable = true)
 |-- game_name: string (nullable = true)
 |-- game_season: string (nullable = true)
 |-- game_year: integer (nullable = true)

# Transformation des champs pour chaque CSV

In [80]:
# Pour athletes.csv
df_athletes = athletes.withColumn("athlete_year_birth", athletes["athlete_year_birth"].cast(IntegerType()))

# Pour results

# Pour medal.csv

# Pour host.csv
df_hosts = hosts.withColumnRenamed("game_slug", "slug_game")

print("Schéma de athletes:")
df_athletes.printSchema()

#print("Schéma de results:")

#print("Schéma de medals:")

print("Schéma de hosts:")
df_hosts.printSchema()

Schéma de athletes:
root
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- games_participations: string (nullable = true)
 |-- first_game: string (nullable = true)
 |-- athlete_year_birth: integer (nullable = true)
 |-- athlete_medals: string (nullable = true)
 |-- bio: string (nullable = true)

Schéma de hosts:
root
 |-- index: integer (nullable = true)
 |-- slug_game: string (nullable = true)
 |-- game_end_date: timestamp (nullable = true)
 |-- game_start_date: timestamp (nullable = true)
 |-- game_location: string (nullable = true)
 |-- game_name: string (nullable = true)
 |-- game_season: string (nullable = true)
 |-- game_year: integer (nullable = true)

# Transformation des valeurs pour chaque CSV

Pour athletes

In [82]:
# Transformer la colonne "first_game" en minuscule et remplacer les espaces par des tirets
df_athletes = df_athletes.withColumn("first_game", regexp_replace(lower(df_athletes["first_game"]), " ", "-"))

# Nettoyer et transformer la colonne "athlete_medals"
df_athletes = df_athletes.withColumn("athlete_medals", trim(regexp_replace(df_athletes["athlete_medals"], "\n", "")))
df_athletes = df_athletes.withColumn("athlete_medals", regexp_replace(df_athletes["athlete_medals"], "(G|S|B)", "$1,"))
df_athletes = df_athletes.withColumn("athlete_medals", regexp_replace(df_athletes["athlete_medals"], ",$", ""))

# Nettoyer et transformer la colonne "bio"
df_athletes = df_athletes.withColumn("bio", trim(regexp_replace(df_athletes["bio"], "\n", "")))

# Afficher le schéma des données après conversion pour chaque DataFrame
df_athletes.printSchema()
# Afficher les premières lignes après conversion
df_athletes.show(10)

root
 |-- athlete_url: string (nullable = true)
 |-- athlete_full_name: string (nullable = true)
 |-- games_participations: string (nullable = true)
 |-- first_game: string (nullable = true)
 |-- athlete_year_birth: integer (nullable = true)
 |-- athlete_medals: string (nullable = true)
 |-- bio: string (nullable = true)

+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
|         athlete_url|   athlete_full_name|games_participations|      first_game|athlete_year_birth|athlete_medals| bio|
+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
|https://olympics....|Cooper WOODS-TOPA...|                   1|    beijing-2022|              2000|          NULL|NULL|
|https://olympics....|      Felix ELOFSSON|                   2|pyeongchang-2018|              1995|          NULL|NULL|
|https://olympics....|       Dylan WALCZYK|                   1|    beijing-2022|              1993|          NULL|NULL|
|https://olympics....|       Olli PENTTALA|                   1|    beijing-2022|              1995|          NULL|NULL|
|https://olympics....|    Dmitriy REIKHERD|                   1|    beijing-2022|              1989|          NULL|NULL|
|https://olympics....|         Matt GRAHAM|                   3|      sochi-2014|              1994|             "|NULL|
|                   1|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|                   S|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|                   ,|                NULL|                NULL|            NULL|              NULL|          NULL|NULL|
|https://olympics....|     Ikuma HORISHIMA|                   2|pyeongchang-2018|              1997|             "|NULL|
+--------------------+--------------------+--------------------+----------------+------------------+--------------+----+
only showing top 10 rows