# Hackaton Prédiction - JO 2024

In [3]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

### ATHLETES - olympic_athletes.json

In [10]:
# Chemin vers le fichier JSON
json_file = './files/olympic_athletes.json'

# Lire le fichier JSON
df_json = pd.read_json(json_file)

# Afficher les premières lignes du DataFrame
df_json.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None

In [17]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_json.shape[0]) + ' lignes et ' + str(df_json.shape[1]) + ' colonnes')

Il y a 75904 lignes et 7 colonnes

In [23]:
# Afficher le type de données dans chaque colonne
df_json.dtypes

athlete_url              object
athlete_full_name        object
games_participations      int64
first_game               object
athlete_year_birth      float64
athlete_medals           object
bio                      object
dtype: object

In [27]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_json.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [31]:
# Afficher le nombre de données manquantes pour chaque colonne
df_json.isnull().sum()

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

### Résultats - olympic_results.html

In [21]:

# Chemin vers le fichier HTML ou URL
html_file = './files/olympic_results.html'

# Lire les tables du fichier HTML
dfs_html = pd.read_html(html_file)
df_html = dfs_html[0]

# Afficher la première table (si le fichier contient plusieurs tables)
df_html.head()

,Unnamed: 0,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [22]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_html.shape[0]) + ' lignes et ' + str(df_html.shape[1]) + ' colonnes')

Il y a 162804 lignes et 16 colonnes

In [24]:
# Afficher le type de données dans chaque colonne
df_html.dtypes

Unnamed: 0                int64
discipline_title         object
event_title              object
slug_game                object
participant_type         object
medal_type               object
athletes                 object
rank_equal               object
rank_position            object
country_name             object
country_code             object
country_3_letter_code    object
athlete_url              object
athlete_full_name        object
value_unit               object
value_type               object
dtype: object

In [28]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_html.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [32]:
# Afficher le nombre de données manquantes pour chaque colonne
df_html.isnull().sum()

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

### Médailles - olympic_medals.xlsx

In [14]:
# Chemin vers le fichier Excel
excel_file = './files/olympic_medals.xlsx'

# Lire le fichier Excel
df_excel = pd.read_excel(excel_file)

# Afficher les premières lignes du DataFrame
df_excel.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [19]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_excel.shape[0]) + ' lignes et ' + str(df_excel.shape[1]) + ' colonnes')

Il y a 21697 lignes et 13 colonnes

In [25]:
# Afficher le type de données dans chaque colonne
df_excel.dtypes

Unnamed: 0                int64
discipline_title         object
slug_game                object
event_title              object
event_gender             object
medal_type               object
participant_type         object
participant_title        object
athlete_url              object
athlete_full_name        object
country_name             object
country_code             object
country_3_letter_code    object
dtype: object

In [29]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_excel.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [33]:
# Afficher le nombre de données manquantes pour chaque colonne
df_excel.isnull().sum()

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

### Hôtes - olympic_hosts.xml

In [15]:
# Chemin vers le fichier XML
xml_file = './files/olympic_hosts.xml'

# Lire le fichier XML
df_xml = pd.read_xml(xml_file)

# Afficher les premières lignes du DataFrame
df_xml.head()

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [20]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_xml.shape[0]) + ' lignes et ' + str(df_xml.shape[1]) + ' colonnes')

Il y a 53 lignes et 8 colonnes

In [26]:
# Afficher le type de données dans chaque colonne
df_xml.dtypes

index               int64
game_slug          object
game_end_date      object
game_start_date    object
game_location      object
game_name          object
game_season        object
game_year           int64
dtype: object

In [30]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_xml.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [34]:
# Afficher le nombre de données manquantes pour chaque colonne
df_xml.isnull().sum()

index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64