# Hackaton Prédiction - JO 2024

In [160]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

### ATHLETES - olympic_athletes.json

In [161]:
# Chemin vers le fichier JSON
json_file = './files/olympic_athletes.json'

# Lire le fichier JSON
df_athletes = pd.read_json(json_file)

# Afficher les premières lignes du DataFrame
df_athletes.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None

In [162]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_athletes.shape[0]) + ' lignes et ' + str(df_athletes.shape[1]) + ' colonnes')

Il y a 75904 lignes et 7 colonnes

In [163]:
# Afficher le type de données dans chaque colonne
df_athletes.dtypes

athlete_url              object
athlete_full_name        object
games_participations      int64
first_game               object
athlete_year_birth      float64
athlete_medals           object
bio                      object
dtype: object

In [164]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_athletes.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [165]:
# Afficher le nombre de données manquantes pour chaque colonne
df_athletes.isnull().sum()

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

### Résultats - olympic_results.html

In [166]:

# Chemin vers le fichier HTML ou URL
html_file = './files/olympic_results.html'

# Lire les tables du fichier HTML
dfs_html = pd.read_html(html_file)
df_results = dfs_html[0]

# Afficher la première table (si le fichier contient plusieurs tables)
df_results.head()

,Unnamed: 0,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN

In [167]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_results.shape[0]) + ' lignes et ' + str(df_results.shape[1]) + ' colonnes')

Il y a 162804 lignes et 16 colonnes

In [168]:
# Afficher le type de données dans chaque colonne
df_results.dtypes

Unnamed: 0                int64
discipline_title         object
event_title              object
slug_game                object
participant_type         object
medal_type               object
athletes                 object
rank_equal               object
rank_position            object
country_name             object
country_code             object
country_3_letter_code    object
athlete_url              object
athlete_full_name        object
value_unit               object
value_type               object
dtype: object

In [169]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_results.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [170]:
# Afficher le nombre de données manquantes pour chaque colonne
df_results.isnull().sum()

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

### Médailles - olympic_medals.xlsx

In [171]:
# Chemin vers le fichier Excel
excel_file = './files/olympic_medals.xlsx'

# Lire le fichier Excel
df_medals = pd.read_excel(excel_file)

# Afficher les premières lignes du DataFrame
df_medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [172]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_medals.shape[0]) + ' lignes et ' + str(df_medals.shape[1]) + ' colonnes')

Il y a 21697 lignes et 13 colonnes

In [173]:
# Afficher le type de données dans chaque colonne
df_medals.dtypes

Unnamed: 0                int64
discipline_title         object
slug_game                object
event_title              object
event_gender             object
medal_type               object
participant_type         object
participant_title        object
athlete_url              object
athlete_full_name        object
country_name             object
country_code             object
country_3_letter_code    object
dtype: object

In [174]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_medals.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [175]:
# Afficher le nombre de données manquantes pour chaque colonne
df_medals.isnull().sum()

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url               4670
athlete_full_name         3624
country_name                 0
country_code              1502
country_3_letter_code        0
dtype: int64

### Hôtes - olympic_hosts.xml

In [176]:
# Chemin vers le fichier XML
xml_file = './files/olympic_hosts.xml'

# Lire le fichier XML
df_hosts = pd.read_xml(xml_file)

# Afficher les premières lignes du DataFrame
df_hosts.head()

,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,tokyo-2020,2021-08-08T14:00:00Z,2021-07-23T11:00:00Z,Japan,Tokyo 2020,Summer,2020
2,2,pyeongchang-2018,2018-02-25T08:00:00Z,2018-02-08T23:00:00Z,Republic of Korea,PyeongChang 2018,Winter,2018
3,3,rio-2016,2016-08-21T21:00:00Z,2016-08-05T12:00:00Z,Brazil,Rio 2016,Summer,2016
4,4,sochi-2014,2014-02-23T16:00:00Z,2014-02-07T04:00:00Z,Russian Federation,Sochi 2014,Winter,2014

In [177]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(df_hosts.shape[0]) + ' lignes et ' + str(df_hosts.shape[1]) + ' colonnes')

Il y a 53 lignes et 8 colonnes

In [178]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(df_hosts.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [179]:
# Afficher le nombre de données manquantes pour chaque colonne
df_hosts.isnull().sum()

index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

## Fusion des dataframe medals et host

Comme nous pouvons nous aperçevoir, nous pouvons fusionner le DF medals (slug_game) avec le DF hosts (game_slug) qui comporte aucune données manquantes

In [180]:
# Fusionner les deux DataFrames en utilisant les colonnes communes
# df_merged = pd.merge(df_medals, df_hosts, left_on='slug_game', right_on='game_slug', how='inner')

# Afficher le DataFrame fusionné
df_merged

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,...,country_code,country_3_letter_code,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,...,IT,ITA,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,...,IT,ITA,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,...,NO,NOR,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,...,NO,NOR,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,...,SE,SWE,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21692,21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,...,DK,DEN,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21693,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,NaN,Alexandros Nikolopoulos,...,GR,GRE,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21694,21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,...,DK,DEN,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21695,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,...,GB,GBR,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21696,21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,...,GR,GRE,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [181]:
df_merged.isnull().sum()

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url                497
athlete_full_name         1100
country_name                 0
country_code              1502
country_3_letter_code        0
index                        0
game_slug                    0
game_end_date                0
game_start_date              0
game_location                0
game_name                    0
game_season                  0
game_year                    0
dtype: int64

In [182]:
df_athletes.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,None,None
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,None,None
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,None,None
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,None,None
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,None,None

In [183]:
df_athletes.isnull().sum()

athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

On fusionne df_merged avec df_athletes pour completer les valeurs manquante dans athlete_url et athlete_full_name (sans joindre les autres colonnes de df_athletes car inutiles)

In [189]:
# Fusionner sur la colonne 'athlete_url' pour compléter les valeurs manquantes de 'athlete_full_name'
df_temp = pd.merge(df_merged, df_athletes[['athlete_url', 'athlete_full_name']], on='athlete_url', how='left', suffixes=('', '_athletes'))
df_merged['athlete_full_name'] = df_merged['athlete_full_name'].combine_first(df_temp['athlete_full_name_athletes'])

# Fusionner sur la colonne 'athlete_full_name' pour compléter les valeurs manquantes de 'athlete_url'
df_temp = pd.merge(df_merged, df_athletes[['athlete_full_name', 'athlete_url']], on='athlete_full_name', how='left', suffixes=('', '_athletes'))
df_merged['athlete_url'] = df_merged['athlete_url'].combine_first(df_temp['athlete_url_athletes'])

# Afficher le DataFrame mis à jour
df_merged

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,...,country_code,country_3_letter_code,index,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,...,IT,ITA,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,...,IT,ITA,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,...,NO,NOR,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,...,NO,NOR,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,...,SE,SWE,0,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21692,21692,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,...,DK,DEN,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21693,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/emile-billard,Alexandros Nikolopoulos,...,GR,GRE,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21694,21694,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,NaN,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,...,DK,DEN,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21695,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,NaN,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,...,GB,GBR,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896
21696,21696,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,NaN,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,...,GR,GRE,52,athens-1896,1896-04-15T11:39:39Z,1896-04-06T11:38:39Z,Greece,Athens 1896,Summer,1896

In [190]:
df_merged.isnull().sum()

Unnamed: 0                   0
discipline_title             0
slug_game                    0
event_title                  0
event_gender                 0
medal_type                   0
participant_type             0
participant_title        15113
athlete_url                109
athlete_full_name           80
country_name                 0
country_code              1502
country_3_letter_code        0
index                        0
game_slug                    0
game_end_date                0
game_start_date              0
game_location                0
game_name                    0
game_season                  0
game_year                    0
dtype: int64

In [192]:
df_results

,Unnamed: 0,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk MÃ¼ckenbrunn,NaN,IRM
162801,162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [193]:
df_results.isnull().sum()

Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type               142598
athletes                 154828
rank_equal               130278
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
dtype: int64

les données communes et sans null:
- discipline_title
- event_title
- slug_game
- participant_types
- country_name
- country_3_letter_code

Les données intéressantes :
- rank_position
- athlete_url
- athlete_full_name

## Nettoyage des données

Nous avons nos 4 dataframes Athlètes, résulats, médailles, hôtes.
Le but est maintenant de 'nettoyer' les données car comme on peut voir il y a beaucoup de données manquantes dans les DF dont 'résultats' et 'médailles'

#### Nettoyage du DF Athletes

In [ ]:
# df_athletes.head()

In [ ]:
# df_athletes.isnull().sum()

In [ ]:
# Filtrer les lignes où athlete_medals n'est pas nul
# filtered_df = df_athletes[df_athletes['athlete_medals'].notnull()]

# Afficher le DataFrame filtré
# filtered_df

In [ ]:
# Suppression des colonnes inutiles
# df_athletes.drop(columns=["athlete_year_birth", "athlete_medals", "bio"], inplace=True)
# df_athletes.head()

#### Nettoyage du DF Résults

In [ ]:
# df_results.head()

In [ ]:
# df_results.isnull().sum()

In [ ]:
# Suppression des colonnes inutiles
# df_results.drop(columns=["athletes", "rank_equal"], inplace=True)
# df_results.head()

#### Nettoyage du DF Médailles

In [ ]:
# df_medals.head()

In [ ]:
# df_medals.isnull().sum()

In [ ]:
# Suppression des colonnes inutiles
# df_medals.drop(columns=["participant_title", "country_code"], inplace=True)
# df_medals.head()

#### Nettoyage du DF Host

In [ ]:
# df_hosts.head()

In [ ]:
# df_hosts.isnull().sum()

On supprime les données inutiles: