# Hackaton Prédiction - JO 2024

In [1]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

import os
from dotenv import load_dotenv
from pathlib import Path
from sqlalchemy import create_engine

# Chemin relatif vers le fichier .env
env_path = Path('../../.env')
load_dotenv(dotenv_path=env_path)

DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_DATABASE = os.getenv("DB_DATABASE")

# Paramètres de la base de données PostgreSQL
DATABASE_URL = "mysql+pymysql://" + DB_USER + ":" + DB_PASSWORD + "@" + DB_HOST + "/" + DB_DATABASE
engine = create_engine(DATABASE_URL, echo=True)

# Pour tester la connexion
# connection = engine.connect()
# print("Connexion réussie!")

olympic_hosts = pd.read_sql("SELECT * FROM olympic_hosts", con=engine)
olympic_athlete = pd.read_sql("SELECT * FROM olympic_athletes", con=engine)
olympic_medals = pd.read_sql("SELECT * FROM olympic_medals", con=engine)
olympic_results = pd.read_sql("SELECT * FROM olympic_results", con=engine)

# Close the connection
# connection.close()
# print("Connexion fermée avec succès!")

2024-05-30 14:49:21,747 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-05-30 14:49:21,749 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:21,766 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-05-30 14:49:21,768 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:21,780 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-05-30 14:49:21,782 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:21,802 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-30 14:49:21,803 INFO sqlalchemy.engine.Engine [generated in 0.00171s] {'table_schema': 'kemeh32717_hackathon', 'table_name': 'SELECT * FROM olympic_hosts'}
2024-05-30 14:49:21,814 INFO sqlalchemy.engine.Engine SELECT * FROM olympic_hosts
2024-05-30 14:49:21,815 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:21,838 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-30 14:49:21,839 INFO sqlalchemy.engine.Engine [cached since 0.03787s ago] {'table_schema': 'kemeh32717_hackathon', 'table_name': 'SELECT * FROM olympic_athletes'}
2024-05-30 14:49:21,850 INFO sqlalchemy.engine.Engine SELECT * FROM olympic_athletes
2024-05-30 14:49:21,852 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:21,874 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-30 14:49:21,876 INFO sqlalchemy.engine.Engine [cached since 0.07391s ago] {'table_schema': 'kemeh32717_hackathon', 'table_name': 'SELECT * FROM olympic_medals'}
2024-05-30 14:49:21,886 INFO sqlalchemy.engine.Engine SELECT * FROM olympic_medals
2024-05-30 14:49:21,887 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-05-30 14:49:22,669 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-05-30 14:49:22,670 INFO sqlalchemy.engine.Engine [cached since 0.8687s ago] {'table_schema': 'kemeh32717_hackathon', 'table_name': 'SELECT * FROM olympic_results'}
2024-05-30 14:49:22,680 INFO sqlalchemy.engine.Engine SELECT * FROM olympic_results
2024-05-30 14:49:22,682 INFO sqlalchemy.engine.Engine [raw sql] {}

### ATHLETES - olympic_athletes.json

In [2]:
# Afficher les premières lignes du DataFrame
olympic_athlete.head()

Empty DataFrame
Columns: [athlete_url, athlete_full_name, games_participations, first_game, athlete_year_birth, athlete_medals, bio]
Index: []

In [3]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_athlete.shape[0]) + ' lignes et ' + str(olympic_athlete.shape[1]) + ' colonnes')

Il y a 0 lignes et 7 colonnes

In [4]:
olympic_athlete.isnull().sum()

athlete_url             0.0
athlete_full_name       0.0
games_participations    0.0
first_game              0.0
athlete_year_birth      0.0
athlete_medals          0.0
bio                     0.0
dtype: float64

In [5]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_athlete.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

### Résultats - olympic_results.html

In [6]:
# Renommer la colonne 'slug_game' en 'game_slug'
olympic_results = olympic_results.rename({'slug_game':'game_slug'},axis=1)

# Afficher la première table (si le fichier contient plusieurs tables)
olympic_results.head()

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",0,1,Italy,IT,ITA,,,,
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",0,2,Norway,NO,NOR,,,,
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",0,3,Sweden,SE,SWE,,,,
3,Curling,Mixed Doubles,beijing-2022,GameTeam,AUCUNE,"[('Jennifer DODDS', 'https://olympics.com/en/a...",0,4,Great Britain,GB,GBR,,,,
4,Curling,Mixed Doubles,beijing-2022,GameTeam,AUCUNE,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",0,5,Canada,CA,CAN,,,,

In [7]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_results.shape[0]) + ' lignes et ' + str(olympic_results.shape[1]) + ' colonnes')

Il y a 162804 lignes et 15 colonnes

In [8]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_results.isnull().sum()

discipline_title         0
event_title              0
game_slug                0
participant_type         0
medal_type               0
athletes                 0
rank_equal               0
rank_position            0
country_name             0
country_code             0
country_3_letter_code    0
athlete_url              0
athlete_full_name        0
value_unit               0
value_type               0
dtype: int64

In [9]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_results.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 6351 ligne(s) dupliquée(s)

### Médailles - olympic_medals.xlsx

In [10]:
# Renommer la colonne 'slug_game' en 'game_slug'
olympic_medals = olympic_medals.rename({'slug_game':'game_slug'},axis=1)

# Afficher les premières lignes du DataFrame
olympic_medals.head()

,id,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,21698,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,21699,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,21700,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,21701,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,21702,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [11]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_medals.shape[0]) + ' lignes et ' + str(olympic_medals.shape[1]) + ' colonnes')

Il y a 21697 lignes et 13 colonnes

In [12]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_medals.isnull().sum()

id                          0
discipline_title            0
game_slug                   0
event_title                 0
event_gender                0
medal_type                  0
participant_type            0
participant_title           0
athlete_url              4670
athlete_full_name        3624
country_name                0
country_code             1502
country_3_letter_code       0
dtype: int64

In [13]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_medals.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

In [14]:
# On renomme la colonne slug_game en game_slug pour les futures merges des autres DF
olympic_medals = olympic_medals.rename({'slug_game':'game_slug'},axis=1)
olympic_medals.columns

Index(['id', 'discipline_title', 'game_slug', 'event_title', 'event_gender',
       'medal_type', 'participant_type', 'participant_title', 'athlete_url',
       'athlete_full_name', 'country_name', 'country_code',
       'country_3_letter_code'],
      dtype='object')

In [15]:
olympic_medals.tail()

,id,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
21692,43390,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,Denmark,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21693,43391,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,Greece,None,Alexandros Nikolopoulos,Greece,GR,GRE
21694,43392,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,Denmark,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN
21695,43393,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,SILVER,Athlete,Great Britain,https://olympics.com/en/athletes/launceston-el...,Launceston ELLIOT,Great Britain,GB,GBR
21696,43394,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,Greece,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE

### Hôtes - olympic_hosts.xml

In [16]:
# Afficher les premières lignes du DataFrame
olympic_hosts.head()

,id,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,83,tokyo-2020,2021-08-08 14:00:00,2021-07-23 11:00:00,Japan,Tokyo 2020,Summer,2020
1,84,rio-2016,2016-08-21 21:00:00,2016-08-05 12:00:00,Brazil,Rio 2016,Summer,2016
2,85,london-2012,2012-08-12 19:00:00,2012-07-27 07:00:00,Great Britain,London 2012,Summer,2012
3,86,beijing-2008,2008-08-24 12:00:00,2008-08-08 00:00:00,China,Beijing 2008,Summer,2008
4,87,athens-2004,2004-08-29 18:00:00,2004-08-13 06:00:00,Greece,Athens 2004,Summer,2004

In [17]:
# Combien de lignes ? Combien de colonnes ?
print('Il y a ' + str(olympic_hosts.shape[0]) + ' lignes et ' + str(olympic_hosts.shape[1]) + ' colonnes')

Il y a 29 lignes et 8 colonnes

In [18]:
# Afficher le nombre de données manquantes pour chaque colonne
olympic_hosts.isnull().sum()

id                 0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [20]:
# Y a-t'il des lignes dupliquée ? Si oui, les supprimer
print('Il y a ' + str(olympic_hosts.duplicated().sum()) + ' ligne(s) dupliquée(s)')

Il y a 0 ligne(s) dupliquée(s)

## Réponses aux questions

#### 1. La France a organisé 6 JO : 3 d’hiver et 3 d’été (en comptant celui de 2024) ?

In [21]:
jo_france = olympic_hosts[olympic_hosts['game_location'] == 'France']
jo_france

,id,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
22,105,paris-1924,1924-07-27 19:00:00,1924-05-04 07:00:00,France,Paris 1924,Summer,1924
27,110,paris-1900,1900-10-28 19:50:39,1900-05-14 08:50:39,France,Paris 1900,Summer,0

In [22]:
# On compte le nombre de JO organisé par la France en fonction de la saison (winter/summer)
jo_france.groupby('game_season').size()

game_season
Summer    2
dtype: int64

La réponse est oui en comptant les JO d'été de 2024

#### 2. La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?

In [23]:
# La France est le 2è pays qui a organisé le plus de JO après les USA (8 JO) ?
olympic_hosts.groupby('game_location').size().sort_values(ascending=False)

game_location
United States                  4
Great Britain                  3
Greece                         2
France                         2
Japan                          2
Italy                          1
USSR                           1
Sweden                         1
Spain                          1
Republic of Korea              1
Netherlands                    1
Mexico                         1
Belgium                        1
Brazil                         1
Australia, Sweden              1
Germany                        1
Finland                        1
Federal Republic of Germany    1
China                          1
Canada                         1
Australia                      1
dtype: int64

La réponse est oui, en comptant les JO 2024 on est à 6 exactement

#### 3. Les JO d’hiver sont nés à Chamonix en 1924 ?

In [24]:
# Les JO d’hiver sont nés à Chamonix en 1924 ?
olympic_hosts[olympic_hosts['game_season'] == 'Winter'].sort_values('game_year').head(3)

Empty DataFrame
Columns: [id, game_slug, game_end_date, game_start_date, game_location, game_name, game_season, game_year]
Index: []

La réponse est oui

#### 4. JO de Paris, en 1900 : les femmes peuvent participer aux JO ?

In [25]:
# On vérifie si la France a déjà organisé des JO en 1900
olympic_hosts[olympic_hosts['game_location'] == 'France']

,id,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
22,105,paris-1924,1924-07-27 19:00:00,1924-05-04 07:00:00,France,Paris 1924,Summer,1924
27,110,paris-1900,1900-10-28 19:50:39,1900-05-14 08:50:39,France,Paris 1900,Summer,0

In [26]:
# On merge olympic_hosts avec olympic_medals pour obtenir les résultats des JO de Paris en 1924
jo_paris_1924 = pd.merge(olympic_hosts, olympic_medals, on='game_slug')

In [27]:
# Maintenant on regarde les valeurs unique de 'event_title' en fonction de 'game_year' (1924)
jo_paris_1924[jo_paris_1924['game_year'] == 1924]['event_gender'].unique()

array(['Men', 'Women', 'Mixed', 'Open'], dtype=object)

La réponse est donc oui, les femmes sont dans la liste des gender avec la mention 'women'

#### 5. Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

In [28]:
olympic_medals.head()

,id,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,21698,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,21699,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,21700,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,21701,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,21702,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [29]:
# Seuls 4 athlètes ont remporté des médailles à la fois aux JO d’hiver et d’été. Une seule d’entre eux, Christa Ludinger-Rothenburger, a remporté des médailles au cours de la même année ?

# On vérifie dans le DF des médailles si Christa Ludinger-Rothenburger a remporté des médailles aux JO (attention au case sensitive)
olympic_medals[olympic_medals['athlete_full_name'] == 'Christa LUDING-ROTHENBURGER']

,id,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
10448,32146,Speed skating,albertville-1992,500m women,Women,BRONZE,Athlete,Germany,https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,Germany,DE,GER
10930,32628,Cycling Track,seoul-1988,sprint women,Women,SILVER,Athlete,German Democratic Republic (Germany),https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11445,33143,Speed skating,calgary-1988,500m women,Women,SILVER,Athlete,German Democratic Republic (Germany),https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
11450,33148,Speed skating,calgary-1988,1000m women,Women,GOLD,Athlete,German Democratic Republic (Germany),https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR
12306,34004,Speed skating,sarajevo-1984,500m women,Women,GOLD,Athlete,German Democratic Republic (Germany),https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR

In [30]:
# On merge olympic_hosts avec olympic_medals pour obtenir les saisons des JO où Christa Ludinger-Rothenburger a remporté des médailles
jo_christa = pd.merge(olympic_hosts, olympic_medals, on='game_slug')

In [31]:
jo_christa[jo_christa['athlete_full_name'] == 'Christa LUDING-ROTHENBURGER']

,id_x,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year,id_y,discipline_title,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
8534,91,seoul-1988,1988-10-02 10:00:00,1988-09-16 22:00:00,Republic of Korea,Seoul 1988,Summer,1988,32628,Cycling Track,sprint women,Women,SILVER,Athlete,German Democratic Republic (Germany),https://olympics.com/en/athletes/christa-luding,Christa LUDING-ROTHENBURGER,German Democratic Republic (Germany),DDDE,GDR

La réponse est oui, Crista LUDING-ROTHENBURGER à remporter en 1988 : 1 médaille en été et 2 médaille en hiver

#### 6. De 1924 à 1992, les JO d’hiver et d’été avaient lieu au cours de la même année. Désormais, ils sont organisés selon des cycles distincts avec une alternance de 2 ans ?

In [32]:
# On vérifie si les JO d'hiver et d'été ont eu lieu la même année entre 1924 et 1992
olympic_hosts[(olympic_hosts['game_year'] >= 1924) & (olympic_hosts['game_year'] <= 1992)].groupby('game_year').size()

game_year
1924    1
1928    1
1932    1
1936    1
1948    1
1952    1
1956    1
1960    1
1964    1
1968    1
1972    1
1976    1
1980    1
1984    1
1988    1
1992    1
dtype: int64

In [33]:
# On vérifie si les JO d'hiver et d'été ont eu lieu la même année après 1992
olympic_hosts[olympic_hosts['game_year'] > 1992].groupby('game_year').size()

game_year
1996    1
2000    1
2004    1
2008    1
2012    1
2016    1
2020    1
dtype: int64

La réponse est oui, on peut voir que de 1924 à 1992 les JO d'hiver et d'été se passe en même temps, puis après il y un seul JO par année

#### 7. Tarzan lui-même a participé aux JO. En effet, Johnny Weissmuller, ancien athlète devenu acteur et ayant interprété 12 films de Tarzan, a remporté 5 médailles d’or en natation dans les années 1920 ?

In [34]:
# On vérifie dans le DF des médailles si Johnny Weissmuller a remporté des médailles aux JO
olympic_medals[olympic_medals['athlete_full_name'] == 'Johnny WEISSMULLER']

,id,discipline_title,game_slug,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
19156,40854,Swimming,amsterdam-1928,100m freestyle men,Men,GOLD,Athlete,United States of America,https://olympics.com/en/athletes/johnny-weissm...,Johnny WEISSMULLER,United States of America,US,USA
19593,41291,Swimming,paris-1924,400m freestyle men,Men,GOLD,Athlete,United States of America,https://olympics.com/en/athletes/johnny-weissm...,Johnny WEISSMULLER,United States of America,US,USA
19605,41303,Swimming,paris-1924,100m freestyle men,Men,GOLD,Athlete,United States of America,https://olympics.com/en/athletes/johnny-weissm...,Johnny WEISSMULLER,United States of America,US,USA

In [35]:
#  On vérifie également dans le DF résultats si Johnny Weissmuller a remporté des médailles aux JO
olympic_results[olympic_results['athlete_full_name'] == 'Johnny WEISSMULLER']

Empty DataFrame
Columns: [discipline_title, event_title, game_slug, participant_type, medal_type, athletes, rank_equal, rank_position, country_name, country_code, country_3_letter_code, athlete_url, athlete_full_name, value_unit, value_type]
Index: []

La réponse est non, Johnny WEISSMULLER a bien gagner des médailles aux JO mais seulement 3 (pas 5)

#### 8. Les JO de Londres de 2012 ont été les 1ers JO durant lesquels tous les pays participants ont envoyé des athlètes de sexe féminin ?

In [36]:
olympic_results.head()

,discipline_title,event_title,game_slug,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",0,1,Italy,IT,ITA,,,,
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",0,2,Norway,NO,NOR,,,,
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",0,3,Sweden,SE,SWE,,,,
3,Curling,Mixed Doubles,beijing-2022,GameTeam,AUCUNE,"[('Jennifer DODDS', 'https://olympics.com/en/a...",0,4,Great Britain,GB,GBR,,,,
4,Curling,Mixed Doubles,beijing-2022,GameTeam,AUCUNE,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",0,5,Canada,CA,CAN,,,,